body{
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;;
  font-size: 15px; 
  line-height: 1.5; 
  padding: 0; 
  margin: 0; 
  background: linear-gradient(-45deg, white, lightgray, gray, darkgray);
  background-size: 400% 400%; 
  animation: colorchange 9s ease-in-out infinite; 
}

@keyframes colorchange {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
/*Global here */
.container{
  width: 80%; 
  margin: auto; 
  overflow: hidden;

}

 ul{
  margin: 0; 
  padding: 0; 

}

/*header */
header{
   background-color: #000000; 
   color: #ffffff; 
   padding-top: 10px; 
   min-height: 60px; 
   border-bottom: #33333D 2px solid; 
   text-align: center;
   animation: transitionIN 1.5s;
   font-weight: bold;
}

header a{
  color: #ffffff; 
  text-decoration: none; 
  text-transform: lowercase; 
  font-size: 17px; 
}

header li{
   
  display: inline;
  padding: 0 20px 0 20px; 
 
}

.container a:hover{
  
  
 border-bottom: 2px solid rgb(41, 11, 124);
 
 color: gray;
 transition: .4s;
 
}
 header .current a{
  color: rgb(38, 134, 197); 
  font-weight: bold; 
  
}

@keyframes transitionIN{
  from{
    
    opacity: 0;

  }
  to{
     
     opacity: 1;
  }
}

.logo{
 
  float: left;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.contact{
  width: 80%; 
  margin: 50px auto;
}

.contact-box{
  background: white;
  display: flex;
  animation: contactMove 2s;
}

.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;

}

.contact-right{
  flex-basis: 40%;
  padding: 40px ;
  background: gray;
  color: white;
}

h1{
  margin-bottom: 10px;
}

.contact p{
  margin-bottom: 40px;
}

.input-row{
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px;
  
}

.input-row .input-group{
  flex-basis: 45%;

}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea{
  width: 100%; 
  border: 1px solid #ccc; 
  outline: none; 
  padding: 10px;
  box-sizing: border-box;
}

label{
  margin-bottom: 6px;
  display: block;
  color: blue;
}

button{
  background: darkgray;
  width: 100px;
  border: none; 
  outline: none;
  color: blue;
  height: 30px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, .3);
}

.contact-left h3{
  color: blue;
  font-weight: 600; 
  margin-bottom: 30px;
}

.contact-right h3{

  font-weight: 600; 
  margin-bottom: 30px;
}

tr td:first-child{
  padding-right: 20px;
}

tr td{
  padding-top: 20px;
}

@keyframes contactMove{
   0% {
    transform:translateX(50%);
  }

  100% {
    transform:translateX(0);
  }
}