body{
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;;
  font-size: 15px; 
  line-height: 1.5; 
  padding: 0; 
  margin: 0; 
  background: linear-gradient(-45deg, white, lightgray, gray, darkgray);
  background-size: 400% 400%; 
  animation: colorchange 9s ease-in-out infinite;
}

@keyframes colorchange {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

/*Global here */
.container{
  width: 80%; 
  margin: auto; 
  overflow: hidden;

}

 ul{
  margin: 0; 
  padding: 0; 

}

/*header */
header{
   background-color: #000000; 
   color: #ffffff; 
   padding-top: 10px; 
   min-height: 60px; 
   border-bottom: #33333D 2px solid; 
   text-align: center;
   animation: transitionIN 1.5s;
   font-weight: bold;
}

header a{
  color: #ffffff; 
  text-decoration: none; 
  text-transform: lowercase; 
  font-size: 17px; 
}

header li{
   
  display: inline;
  padding: 0 20px 0 20px; 
 
}

.container a:hover{
  
  
 border-bottom: 2px solid rgb(41, 11, 124);
 
 color: gray;
 transition: .4s;
 
}
 header .current a{
  color: rgb(38, 134, 197); 
  font-weight: bold; 
  
}

@keyframes transitionIN{
  from{
    
    opacity: 0;

  }
  to{
     
     opacity: 1;
  }
}

.logo{
 
  float: left;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  border-radius: 10%;
  margin-bottom: 10px;
}

/*New shit down here*/

.resumeBox{
  margin-top: 60px;
}

.education{ 
  float:center;  
  background:lightgray; 
  width:40%; 
  height:150px; 
  border-bottom: black 5px solid; 
  border-top: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  margin-left: 30%;
  border-radius: 5px;
  text-align: center;
  animation: ResumeMove .5s;
 } 

 .software{ 
  float:center;  
  background:lightgray; 
  width:40%; 
  height:150px; 
  border-bottom: black 5px solid; 
  border-top: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  margin-left: 30%;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  animation: ResumeMove 1s;
 } 

 .hardware{ 
  float:center;  
  background:lightgray; 
  width:40%; 
  height:150px; 
  border-bottom: black 5px solid; 
  border-top: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  margin-left: 30%;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  animation: ResumeMove 1.5s;
 } 

 .programming{ 
  float:center;  
  background:lightgray; 
  width:40%; 
  height:150px; 
  border-bottom: black 5px solid; 
  border-top: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  margin-left: 30%;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  animation: ResumeMove 2s;
 } 

 .revelentCourses{ 
  float:center;  
  background:lightgray; 
  width:40%; 
  height:150px; 
  border-bottom: black 5px solid; 
  border-top: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  margin-left: 30%;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  animation: ResumeMove 2.5s;
 } 

 .experience{ 
  float:center;  
  background:lightgray; 
  width:40%; 
  height:150px; 
  border-bottom: black 5px solid; 
  border-top: black 5px solid;
  border-left: black 5px solid;
  border-right: black 5px solid;
  margin-left: 30%;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  animation: ResumeMove 3s;
 } 

 @keyframes ResumeMove{
   0% {
    transform:translateX(100%);
  }

  100% {
    transform:translateX(0);
  }
}

.pdf{
  text-align: center;
  margin-top: 1%;
  
}

#ViewResume{

  text-align: center;
  background-color: lightgray;
  border-radius: 7%;
 }

#ViewResume:hover{
 border-bottom: 3px solid rgb(41, 11, 124);
 color: gray;
}